<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front page</title>
</head>
<body>
    Userid: <%=text%>
    <form action="/work" method="post">
       <h3><%= answer%></h3> 
        <textarea name="message" id="" placeholder="Ask Anything"></textarea>
        <button type="submit">Send</button>
    </form>
</body>
</html>